src/main/mule/pluck-use-case-revision.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="325f136a-ccdb-4c94-9424-db7a07ca1ec7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="21afe6d0-95b2-47b9-a28c-1152fc95b89a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="mule123" database="employee" />
	</db:config>
	<flow name="pluck-use-case-revisionFlow" doc:id="223a7a0d-066c-44ee-ab71-5e388b8bc791" >
		<http:listener doc:name="Listener" doc:id="d954cf67-82ec-432e-bdf4-401ef419b645" config-ref="HTTP_Listener_config" path="/create-hr-employee"/>
		<logger level="INFO" doc:name="Start Log" doc:id="a9d3a653-0a40-4aec-a450-29082f14e0e7" message="Flow has started : #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="1de994e0-60d9-40c9-a79b-f0bd208d4f3c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	emp_id:payload.emp_id,
	emp_email:payload.emp_email,
	emp_name:payload.emp_name pluck $ joinBy " "
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="aa065613-65eb-4041-b641-86d26e5556cd" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into linkdin(emp_id,emp_name,emp_email) values(:emp_id,:emp_name,:emp_email);]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="End Log" doc:id="ec410aef-8f06-44ec-916e-37b9c21112a2" message="End Log"/>
	</flow>
</mule>
